.cardContent {
    .date {
        display: flex;
        gap: 5px;
        color:#363636;
        opacity: 0.6;
        margin: 25px 0;
    }

    .heading {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    
    .description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .link {
        text-decoration: none;
        color: #363636;
    
        .text {
            font-weight: 700;
            font-size: 16px;
            margin-right: 5px;
        }
    }
}